<h1>Welcome to our chat</h1>

<div id="chatbox">


</div>

<div>
    <input name="usermsg" type="text" id="usermsg" size="63" autocomplete="off"/>
    <button id="submitmsg" onclick="sendMessage()">Send</button>
</div>