<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title !== 'undefined' ? title : '' %></title>
    <link rel ="schortcut icon" type = "image/png" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<%- body %>

<script src="/javascripts/client.js"></script>
</body>
</html>