<div id="login">
    <h1> Please enter a nickname</h1>

    <input id="nickname" type="text" placeholder="...">

    <div>
        <button id="enter" onclick = "enterClick()">Enter</button>
    </div>
</div>